<section class="dhud dhud--layout" data-open="">
  {{!-- =============== LEFT WING (menus) =============== --}}
  <div class="dhud-wing dhud-wing--left">
    {{!-- TRAITS --}}
    <div class="dhud-tabwrap">
      <div class="dhud-tab" role="button" tabindex="0"
           data-tab="traits" aria-controls="panel-traits" aria-expanded="false">{{l "DAGGERHEART.GENERAL.Trait.plural"}}</div>
      <div id="panel-traits" class="dhud-panel dhud-panel--traits" data-panel="traits" role="dialog" aria-label="Traits">
      <header>{{l "DAGGERHEART.GENERAL.Trait.plural"}}</header>
        <ul class="dhud-acc">
          {{#each traits}}
          <li class="acc">
            <details>
              <summary>
                <img
                  class="icon dhud-roll"
                  src="icons/svg/d20-black.svg"
                  alt=""
                  role="button"
                  tabindex="0"
                  data-action="roll-trait"
                  data-trait="{{key}}"
                  title="Roll {{name}}"
                >
                <span class="title">{{name}}</span>
                <span class="value">{{value}}</span>
              </summary>
              <div class="acc-body">{{description}}</div>
            </details>
          </li>
          {{else}}
          <li class="acc">No traits found</li>
          {{/each}}
        </ul>
      </div>
    </div>

    {{!-- ANCESTRY --}}
    <div class="dhud-tabwrap">
      <div class="dhud-tab" role="button" tabindex="0"
           data-tab="ancestry" aria-controls="panel-ancestry" aria-expanded="false">ANCESTRY</div>
      <div id="panel-ancestry" class="dhud-panel dhud-panel--ancestry" data-panel="ancestry" role="dialog" aria-label="Ancestry">
        <header>Ancestry</header>
        <ul class="dhud-acc">
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/aura.svg" alt="">
                <span class="title">Heritage Feature</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">Feature description…</div>
            </details>
          </li>
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/aura.svg" alt="">
                <span class="title">Cultural Gift</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">Gift description…</div>
            </details>
          </li>
        </ul>
      </div>
    </div>

    {{!-- INVENTORY --}}
    <div class="dhud-tabwrap">
      <div class="dhud-tab" role="button" tabindex="0"
           data-tab="inventory" aria-controls="panel-inventory" aria-expanded="false">INVENTORY</div>
      <div id="panel-inventory" class="dhud-panel dhud-panel--inventory" data-panel="inventory" role="dialog" aria-label="Inventory">
        <header>Inventory</header>
        <ul class="dhud-acc">
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/aura.svg" alt="">
                <span class="title">Rope</span>
                <span class="qty">x1</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">A sturdy rope. Useful for climbing.</div>
            </details>
          </li>
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/fire.svg" alt="">
                <span class="title">Torch</span>
                <span class="qty">x2</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">A simple torch for light.</div>
            </details>
          </li>
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/ice-shield.svg" alt="">
                <span class="title">Letter from a lover</span>
                <span class="qty">x1</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">A cherished letter with personal notes.</div>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {{!-- =============== CORE (center ring) =============== --}}
  <div class="dhud-core">
    <div class="dhud-core__leftcircle">
      <div class="dhud-circle dhud-roll"
          role="button"
          tabindex="0"
          data-action="roll-primary"
          {{#if primaryWeapon}}data-item-id="{{primaryWeapon.id}}"{{/if}}
          title="{{#if primaryWeapon}}{{primaryWeapon.name}}{{else}}Primary Weapon{{/if}}">
        {{#if primaryWeapon}}
          <img class="item-icon" src="{{primaryWeapon.img}}" alt="{{primaryWeapon.name}}">
        {{else}}
          <img class="item-icon" src="icons/svg/sword.svg" alt="No weapon">
        {{/if}}
      </div>
    </div>
    
    <div class="dhud-core__center">
      <div class="dhud-count dhud-count--hp">
        <div class="label">HP</div>
        <div class="value" data-bind="hp">{{hitPoints.value}}/{{hitPoints.max}}</div>
      </div>

      <div class="dhud-ring">
        <div class="dhud-pips" aria-label="Hope">
          {{#each hopePips}}
            <span class="pip {{#if this.filled}}filled{{/if}}"></span>
          {{/each}}
        </div>
        <div class="dhud-portrait" title="{{actorName}}">
          <img src="{{portrait}}" alt="{{actorName}}">
        </div>
        {{!-- <div class="dhud-ring__label">Hope</div> --}}
      </div>

      <div class="dhud-count dhud-count--stress">
        <div class="label">Stress</div>
        <div class="value" data-bind="stress">{{stress.value}}/{{stress.max}}</div>
      </div>

      {{!-- Thresholds: | MINOR | nA | MAJOR | nB | SEVERE | --}}
      <div class="dhud-thresholds" aria-label="Damage thresholds">
        <span class="chip">MINOR</span>
        <span class="val">{{thresholds.major}}</span>
        <span class="chip">MAJOR</span>
        <span class="val">{{thresholds.severe}}</span>
        <span class="chip">SEVERE</span>
      </div>
    </div>

    <div class="dhud-core__rightcircle">
      <div class="dhud-circle dhud-roll" role="button" tabindex="0" data-action="roll-secondary" title="Secondary Weapon">
        {{!-- placeholder de ícone do item --}}
        <img class="item-icon" src="icons/svg/ice-shield.svg" alt="">
      </div>
    </div>

    <div class="dhud-badge dhud-badge--left" title="Evasion">{{evasion}}</div>
    <div class="dhud-badge dhud-badge--right" title="Armor">{{armor.max}}</div>
  </div>

  {{!-- =============== RIGHT WING (menus) =============== --}}
  <div class="dhud-wing dhud-wing--right">
    {{!-- CLASS --}}
    <div class="dhud-tabwrap dhud-tabwrap--right">
      <div class="dhud-tab" role="button" tabindex="0"
           data-tab="class" aria-controls="panel-class" aria-expanded="false">CLASS</div>
      <div id="panel-class" class="dhud-panel dhud-panel--class" data-panel="class" role="dialog" aria-label="Class">
        <header>Class</header>
        <ul class="dhud-acc">
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/aura.svg" alt="">
                <span class="title">Class Feature A</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">Feature text…</div>
            </details>
          </li>
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/aura.svg" alt="">
                <span class="title">Class Feature B</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">Another feature description…</div>
            </details>
          </li>
        </ul>
      </div>
    </div>

    {{!-- SUBCLASS --}}
    <div class="dhud-tabwrap dhud-tabwrap--right">
      <div class="dhud-tab" role="button" tabindex="0"
           data-tab="subclass" aria-controls="panel-subclass" aria-expanded="false">SUBCLASS</div>
      <div id="panel-subclass" class="dhud-panel dhud-panel--subclass" data-panel="subclass" role="dialog" aria-label="Subclass">
        <header>Subclass</header>
        <ul class="dhud-acc">
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/aura.svg" alt="">
                <span class="title">Subclass Feature A</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">Feature text…</div>
            </details>
          </li>
        </ul>
      </div>
    </div>

    {{!-- DOMAINS --}}
    <div class="dhud-tabwrap dhud-tabwrap--right">
      <div class="dhud-tab" role="button" tabindex="0"
           data-tab="domains" aria-controls="panel-domains" aria-expanded="false">DOMAINS</div>
      <div id="panel-domains" class="dhud-panel dhud-panel--domains" data-panel="domains" role="dialog" aria-label="Domains">
        <header>Domains</header>
        <ul class="dhud-acc">
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/aura.svg" alt="">
                <span class="title">Battle Ritual</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">Ritual description…</div>
            </details>
          </li>
          <li class="acc">
            <details>
              <summary>
                <img class="icon" src="icons/svg/aura.svg" alt="">
                <span class="title">Courage</span>
                <i class="far fa-comment chat" title="Send to chat"></i>
              </summary>
              <div class="acc-body">Card description…</div>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
