<section class="dhud dhud--layout" data-open="">
  {{!-- =============== LEFT WING (menus) =============== --}}
  <div class="dhud-wing dhud-wing--left">
    {{!-- TRAITS --}}
    <div class="dhud-tabwrap">
      <div class="dhud-tab" role="button" tabindex="0"
           data-tab="traits" aria-controls="panel-traits" aria-expanded="false">{{l "DAGGERHEART.GENERAL.Trait.plural"}}</div>
      <div id="panel-traits" class="dhud-panel dhud-panel--traits" data-panel="traits" role="dialog" aria-label="Traits">
      <header>{{l "DAGGERHEART.GENERAL.Trait.plural"}}</header>
        <ul class="dhud-acc">
          {{#each traits}}
          <li class="acc">
            <details>
              <summary>
                <img
                  class="icon dhud-roll"
                  src="icons/svg/d20-black.svg"
                  alt=""
                  role="button"
                  tabindex="0"
                  data-action="roll-trait"
                  data-trait="{{key}}"
                  title="Roll {{name}}"
                >
                <span class="title">{{name}}</span>
                <span class="value">{{value}}</span>
              </summary>
              <div class="acc-body">{{description}}</div>
            </details>
          </li>
          {{else}}
          <li class="acc">No traits found</li>
          {{/each}}
        </ul>
      </div>
    </div>

    {{!-- ANCESTRY --}}
    <div class="dhud-tabwrap">
      <div class="dhud-tab" role="button" tabindex="0"
          data-tab="ancestry" aria-controls="panel-ancestry" aria-expanded="false">{{l "TYPES.Item.ancestry"}}</div>

      <div id="panel-ancestry" class="dhud-panel dhud-panel--ancestry" data-panel="ancestry" role="dialog" aria-label="{{l "TYPES.Item.ancestry"}}">
        <header>
          {{l "TYPES.Item.ancestry"}}{{#if ancestryInfo}}:
          <span class="dhud-header-item">{{ancestryInfo.name}}</span>{{/if}}
        </header>
        <ul class="dhud-acc">
          {{#each ancestryFeatures}}
          <li class="acc">
            <details>
              <summary>
                <img class="icon"
                    src="{{img}}"
                    alt=""
                    role="button"
                    tabindex="0"
                    data-action="item-exec"
                    data-item-id="{{id}}"
                    data-actionpath="{{actionPath}}"
                    title="{{name}}">
                <span class="title">{{name}}</span>
                <i class="far fa-comment chat"
                  role="button"
                  tabindex="0"
                  data-action="to-chat"
                  data-item-id="{{id}}"
                  title="{{l 'DAGGERHEART.UI.Tooltip.sendToChat'}}"></i>
              </summary>
              <div class="acc-body">{{{description}}}</div>
            </details>
          </li>
          {{else}}
          <li class="acc">Empty</li>
          {{/each}}
        </ul>

        <header>
          {{l "TYPES.Item.community"}}{{#if communityInfo}}:
          <span class="dhud-header-item">{{communityInfo.name}}</span>{{/if}}
        </header>
        <ul class="dhud-acc">
          {{#each communityFeatures}}
          <li class="acc">
            <details>
              <summary>
                <img class="icon"
                    src="{{img}}"
                    alt=""
                    role="button"
                    tabindex="0"
                    data-action="item-exec"
                    data-item-id="{{id}}"
                    data-actionpath="{{actionPath}}"
                    title="{{name}}">
                <span class="title">{{name}}</span>
                <i class="far fa-comment chat"
                  role="button"
                  tabindex="0"
                  data-action="to-chat"
                  data-item-id="{{id}}"
                  title="{{l 'DAGGERHEART.UI.Tooltip.sendToChat'}}"></i>
              </summary>
              <div class="acc-body">{{{description}}}</div>
            </details>
          </li>
          {{else}}
          <li class="acc">Empty</li>
          {{/each}}
        </ul>
      </div>
    </div>

    {{!-- INVENTORY --}}
    <div class="dhud-tabwrap">
      <div class="dhud-tab" role="button" tabindex="0"
          data-tab="inventory" aria-controls="panel-inventory" aria-expanded="false">{{l "DAGGERHEART.GENERAL.Tabs.inventory"}}</div>

      <div id="panel-inventory" class="dhud-panel dhud-panel--inventory" data-panel="inventory" role="dialog" aria-label="{{l "DAGGERHEART.GENERAL.Tabs.inventory"}}">
        <header>{{l "TYPES.Item.consumable"}}</header>
        <ul class="dhud-acc">
          {{#each invConsumables}}
          <li class="acc">
            <details>
              <summary>
                <img class="icon"
                    src="{{img}}"
                    alt=""
                    role="button"
                    tabindex="0"
                    data-action="item-exec"
                    data-item-id="{{id}}"
                    data-actionpath="{{actionPath}}"
                    title="{{name}}">
                <span class="title">{{name}}</span>
                {{#if qty}}<span class="qty">x{{qty}}</span>{{/if}}
                <i class="far fa-comment chat"
                  role="button"
                  tabindex="0"
                  data-action="to-chat"
                  data-item-id="{{id}}"
                  title="{{l 'DAGGERHEART.UI.Tooltip.sendToChat'}}"></i>
              </summary>
              {{#if description}}
              <div class="acc-body">{{{description}}}</div>
              {{/if}}
            </details>
          </li>
          {{else}}
          <li class="acc">Empty</li>
          {{/each}}
        </ul>

        <header>{{l "TYPES.Item.loot"}}</header>
        <ul class="dhud-acc">
          {{#each invLoot}}
          <li class="acc">
            <details>
              <summary>
                <img class="icon"
                    src="{{img}}"
                    alt=""
                    role="button"
                    tabindex="0"
                    data-action="item-exec"
                    data-item-id="{{id}}"
                    title="{{name}}">
                <span class="title">{{name}}</span>
                {{#if qty}}<span class="qty">x{{qty}}</span>{{/if}}
                <i class="far fa-comment chat"
                  role="button"
                  tabindex="0"
                  data-action="to-chat"
                  data-item-id="{{id}}"
                  title="{{l 'DAGGERHEART.UI.Tooltip.sendToChat'}}"></i>
              </summary>
              {{#if description}}
              <div class="acc-body">{{{description}}}</div>
              {{/if}}
            </details>
          </li>
          {{else}}
          <li class="acc">Empty</li>
          {{/each}}
        </ul>

        {{!-- Weapons, Armors come later (order note: after Loot) --}}
      </div>
    </div>

  </div>

  {{!-- =============== CORE (center ring) =============== --}}
  <div class="dhud-core">
    <div class="dhud-core__leftcircle">
      <div class="dhud-circle dhud-roll"
          role="button"
          tabindex="0"
          data-action="roll-primary"
          {{#if primaryWeapon}}
            {{#if primaryWeapon.id}}data-item-id="{{primaryWeapon.id}}"{{/if}}
            data-unarmed="{{#if primaryWeapon.isUnarmed}}true{{else}}false{{/if}}"
          {{/if}}
          title="{{#if primaryWeapon}}{{primaryWeapon.name}}{{else}}Primary Weapon{{/if}}">
        {{#if primaryWeapon}}
          <img class="item-icon" src="{{primaryWeapon.img}}" alt="{{primaryWeapon.name}}">
        {{else}}
          <img class="item-icon" src="icons/svg/sword.svg" alt="No weapon">
        {{/if}}
      </div>
    </div>

    <div class="dhud-core__center">
      <div class="dhud-count dhud-count--hp">
        <div class="label">HP</div>
        <div class="value" data-bind="hp">{{hitPoints.value}}/{{hitPoints.max}}</div>
      </div>

      <div class="dhud-ring">
        <div class="dhud-pips" aria-label="Hope">
          {{#each hopePips}}
            <span class="pip {{#if this.filled}}filled{{/if}}"></span>
          {{/each}}
        </div>
        <div class="dhud-portrait" title="{{actorName}}">
          <img src="{{portrait}}" alt="{{actorName}}">
        </div>
        {{!-- <div class="dhud-ring__label">Hope</div> --}}
      </div>

      <div class="dhud-count dhud-count--stress">
        <div class="label">Stress</div>
        <div class="value" data-bind="stress">{{stress.value}}/{{stress.max}}</div>
      </div>

      {{!-- Thresholds: | MINOR | nA | MAJOR | nB | SEVERE | --}}
      <div class="dhud-thresholds" aria-label="Damage thresholds">
        <span class="chip">MINOR</span>
        <span class="val">{{thresholds.major}}</span>
        <span class="chip">MAJOR</span>
        <span class="val">{{thresholds.severe}}</span>
        <span class="chip">SEVERE</span>
      </div>
    </div>

    <div class="dhud-core__rightcircle">
      <div class="dhud-circle dhud-roll"
          role="button"
          tabindex="0"
          data-action="roll-secondary"
          {{#if secondaryWeapon}}
            {{#if secondaryWeapon.id}}data-item-id="{{secondaryWeapon.id}}"{{/if}}
            data-unarmed="{{#if secondaryWeapon.isUnarmed}}true{{else}}false{{/if}}"
          {{/if}}
          title="{{#if secondaryWeapon}}{{secondaryWeapon.name}}{{else}}Secondary Weapon{{/if}}">
        {{#if secondaryWeapon}}
          <img class="item-icon" src="{{secondaryWeapon.img}}" alt="{{secondaryWeapon.name}}">
        {{else}}
          <img class="item-icon" src="icons/svg/shield.svg" alt="No weapon">
        {{/if}}
      </div>
    </div>

    <div class="dhud-badge dhud-badge--left" title="Evasion">{{evasion}}</div>
    <div class="dhud-badge dhud-badge--right" title="Armor">{{armor.max}}</div>
  </div>

  {{!-- =============== RIGHT WING (menus) =============== --}}
  <div class="dhud-wing dhud-wing--right">
    {{!-- CLASS --}}
    <div class="dhud-tabwrap dhud-tabwrap--right">
      <div class="dhud-tab" role="button" tabindex="0"
          data-tab="class" aria-controls="panel-class" aria-expanded="false">{{l "TYPES.Item.class"}}</div>

      <div id="panel-class" class="dhud-panel dhud-panel--class" data-panel="class" role="dialog" aria-label="{{l "TYPES.Item.class"}}">
        <header>
          {{l "TYPES.Item.class"}}{{#if classInfo}}:
          <span class="dhud-header-item">{{classInfo.name}}</span>{{/if}}
        </header>
        <ul class="dhud-acc">
          {{#each classFeatures}}
          <li class="acc">
            <details>
              <summary>
                <img class="icon"
                    src="{{img}}"
                    alt=""
                    role="button"
                    tabindex="0"
                    data-action="item-exec"
                    data-item-id="{{id}}"
                    data-actionpath="{{actionPath}}"
                    title="{{name}}">
                <span class="title">{{name}}</span>
                <i class="far fa-comment chat"
                  role="button"
                  tabindex="0"
                  data-action="to-chat"
                  data-item-id="{{id}}"
                  title="{{l 'DAGGERHEART.UI.Tooltip.sendToChat'}}"></i>
              </summary>
              <div class="acc-body">{{{description}}}</div>
            </details>
          </li>
          {{else}}
          <li class="acc">Empty</li>
          {{/each}}
        </ul>

        <header>
          {{l "TYPES.Item.subclass"}}{{#if subclassInfo}}:
          <span class="dhud-header-item">{{subclassInfo.name}}</span>{{/if}}
        </header>
        <ul class="dhud-acc">
          {{#each subclassFeatures}}
          <li class="acc">
            <details>
              <summary>
                <img class="icon"
                    src="{{img}}"
                    alt=""
                    role="button"
                    tabindex="0"
                    data-action="item-exec"
                    data-item-id="{{id}}"
                    data-actionpath="{{actionPath}}"
                    title="{{name}}">
                <span class="title">{{name}}</span>
                <i class="far fa-comment chat"
                  role="button"
                  tabindex="0"
                  data-action="to-chat"
                  data-item-id="{{id}}"
                  title="{{l 'DAGGERHEART.UI.Tooltip.sendToChat'}}"></i>
              </summary>
              <div class="acc-body">{{{description}}}</div>
            </details>
          </li>
          {{else}}
          <li class="acc">Empty</li>
          {{/each}}
        </ul>
      </div>
    </div>

  {{!-- DOMAINS / LOADOUT --}}
  <div class="dhud-tabwrap dhud-tabwrap--right">
    <div class="dhud-tab" role="button" tabindex="0"
        data-tab="loadout" aria-controls="panel-loadout" aria-expanded="false">{{l "DAGGERHEART.GENERAL.Domain.plural"}}</div>

    <div id="panel-loadout" class="dhud-panel dhud-panel--domains" data-panel="loadout" role="dialog" aria-label="{{l "DAGGERHEART.GENERAL.Tabs.loadout"}}">
      <header>
      {{l "DAGGERHEART.GENERAL.Tabs.loadout"}}
      {{#if domainsHeader}}:
        <span class="dhud-domains-header" {{#if domainsHeaderTitle}}title="{{domainsHeaderTitle}}"{{/if}}>
          {{domainsHeader}}
        </span>
      {{/if}}
      </header>
      <ul class="dhud-acc">
        {{#each domainLoadout}}
        <li class="acc">
          <details>
            <summary>
              <img class="icon"
                  src="{{img}}"
                  alt=""
                  role="button"
                  tabindex="0"
                  data-action="item-exec"
                  data-item-id="{{id}}"
                  data-actionpath="{{actionPath}}"
                  title="{{name}}">
              <span class="title">{{name}}</span>

              <span class="recall"><i class="fas fa-star"></i>{{recallCost}}</span>

              {{!-- move to vault --}}
              <i class="fas fa-arrow-down move"
                role="button"
                tabindex="0"
                data-action="to-vault"
                data-item-id="{{id}}"
                title="{{l 'DAGGERHEART.UI.Tooltip.sendToVault'}}"></i>

              {{!-- send to chat --}}
              <i class="far fa-comment chat"
                role="button"
                tabindex="0"
                data-action="to-chat"
                data-item-id="{{id}}"
                title="{{l 'DAGGERHEART.UI.Tooltip.SendToChat'}}"></i>
            </summary>

            <div class="acc-body">
              <p><strong>{{l "DAGGERHEART.ITEMS.DomainCard.recallCost"}}</strong>: {{recallCost}} —
                <strong>Domain</strong>: {{domain}}</p>
              {{{description}}}
            </div>
          </details>
        </li>
        {{else}}
        <li class="acc">{{l "DAGGERHEART.UI.NoneFound"}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  {{!-- VAULT (separate tab) --}}
  <div class="dhud-tabwrap dhud-tabwrap--right">
    <div class="dhud-tab" role="button" tabindex="0"
        data-tab="vault" aria-controls="panel-vault" aria-expanded="false">{{l "DAGGERHEART.GENERAL.Tabs.vault"}}</div>

    <div id="panel-vault" class="dhud-panel dhud-panel--vault" data-panel="vault" role="dialog" aria-label="{{l "DAGGERHEART.GENERAL.Tabs.vault"}}">
      <header>{{l "DAGGERHEART.GENERAL.Tabs.vault"}}</header>
      <ul class="dhud-acc">
        {{#each domainVault}}
        <li class="acc">
          <details>
            <summary>
              <img class="icon"
                  src="{{img}}"
                  alt=""
                  role="button"
                  tabindex="0"
                  data-action="item-exec"
                  data-item-id="{{id}}"
                  data-actionpath="{{actionPath}}"
                  title="{{name}}">
              <span class="title">{{name}}</span>

              <span class="recall"><i class="fas fa-star"></i>{{recallCost}}</span>

              {{!-- move to loadout --}}
              <i class="fas fa-arrow-up move"
                role="button"
                tabindex="0"
                data-action="to-loadout"
                data-item-id="{{id}}"
                title="{{l 'DAGGERHEART.UI.Tooltip.sendToLoadout'}}"></i>

              <i class="far fa-comment chat"
                role="button"
                tabindex="0"
                data-action="to-chat"
                data-item-id="{{id}}"
                title="{{l 'DAGGERHEART.UI.Tooltip.SendToChat'}}"></i>
            </summary>

            <div class="acc-body">
              <p><strong>{{l "DAGGERHEART.ITEMS.DomainCard.recallCost"}}</strong>: {{recallCost}} —
                <strong>Domain</strong>: {{domain}}</p>
              {{{description}}}
            </div>
          </details>
        </li>
        {{else}}
        <li class="acc"></li>
        {{/each}}
      </ul>
    </div>
  </div>


  </div>
</section>
